<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MemberMapper">
    <resultMap id="memberMap" type="domain.MemberVO">
        <id property="userid" column="userid"/>
        <result property="userid" column="userid"/>
        <result property="userpw" column="userpw"/>
        <result property="userName" column="userName"/>
        <result property="regDate" column="regDate"/>
        <result property="updateDate" column="updateDate"/>
        <result property="post_code" column="post_code"/>
        <result property="street_address" column="street_address"/>
        <result property="address" column="address"/>
        <result property="detail_address" column="detail_address"/>
        <collection property="authList" resultMap="authMap"/>
    </resultMap>

    <resultMap id="authMap" type="domain.authVO">
        <result property="userid" column="userid"/>
        <result property="auth" column="auth"/>
    </resultMap>

    <!-- 회원가입시 중복 유저 찾기 -->
    <select id="findUser" resultType="int">
        select count(*) from tbl_member where userid = #{userid}
    </select>

    <!-- 로그인 -->
    <select id="get" resultMap="memberMap">
        SELECT mem.userid, userpw, username,  enabled, regdate, updatedate, auth, post_code, street_address, address, detail_address
        FROM tbl_member mem LEFT OUTER JOIN tbl_member_auth auth ON mem.userid = auth.userid
        WHERE mem.userid = #{userid}
    </select>

    <!-- 전체 회원 조회(admin) -->
    <select id="getList" resultMap="memberMap">
        SELECT mem.userid, userpw, username,  enabled, regdate, updatedate, auth, post_code, street_address, address, detail_address
        FROM tbl_member mem LEFT OUTER JOIN tbl_member_auth auth ON mem.userid = auth.userid
        WHERE mem.userid = auth.userid
    </select>

    <!-- 회원 가입 -->
    <insert id="register">
        insert into tbl_member(userid, userpw, userName, post_code, street_address, address, detail_address)
        values (#{userid}, #{userpw}, #{userName}, #{post_code}, #{street_address}, #{address}, #{detail_address})
    </insert>

    <!-- 회원 가입시 권한 설정 -->
    <insert id="authRegister">
        insert into tbl_member_auth (userid, auth) values (#{userid}, 'ROLE_MEMBER')
    </insert>

    <!-- 회원 정보 변경 -->
    <update id="modify">
        update tbl_member set userpw = #{userpw}, updateDate = sysdate where userid = #{userid}
    </update>

    <!-- 회원 탈퇴 -->
    <delete id="removeMember">
        delete from tbl_member where userid = #{user_id}
    </delete>

    <!-- 회원 탈퇴 시 회원 권한 삭제 -->
    <delete id="removeAuth">
        delete from tbl_member_auth where userid = #{userid}
    </delete>

    <!-- 회원 권한(Auth) 변경 -->
    <update id="updateAuth">
        update tbl_member_auth set auth = #{auth} where userid = #{userid}
    </update>
</mapper>