<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MemberMapper">
    <resultMap id="memberMap" type="domain.MemberVO">
        <id property="userid" column="userid"/>
        <result property="userid" column="userid"/>
        <result property="userpw" column="userpw"/>
        <result property="userName" column="userName"/>
        <result property="address" column="address"/>
        <result property="regDate" column="regDate"/>
        <result property="updateDate" column="updateDate"/>
        <collection property="authList" resultMap="authMap"/>
    </resultMap>

    <resultMap id="authMap" type="domain.authVO">
        <result property="userid" column="userid"/>
        <result property="auth" column="auth"/>
    </resultMap>

    <!-- 로그인 -->
    <select id="get" resultMap="memberMap">
        SELECT mem.userid, userpw, username, address, enabled, regdate, updatedate, auth
        FROM tbl_member mem LEFT OUTER JOIN tbl_member_auth auth ON mem.userid = auth.userid
        WHERE mem.userid = #{userid}
    </select>

    <!-- 회원 가입 -->
    <insert id="register">
        insert into tbl_member(userid, userpw, userName, address) values (#{userid}, #{userpw}, #{userName}, #{address})
    </insert>

    <!-- 회원 가입시 권한 설정 -->
    <insert id="authRegister">
        insert into tbl_member_auth (userid, auth) values (#{userid}, 'ROLE_MEMBER')
    </insert>
</mapper>