<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ProductMapper">

    <!-- 홈 화면 신 상품 -->
    <select id="getHomeProductList" resultType="domain.ProductVO">
        <![CDATA[
            select /*+ INDEX_DESC(tbl_product sys_c0015045)*/
                rownum rn, product_id, product_name, product_price, product_desc, product_url, brand
            from tbl_product
            where rownum <= 8
        ]]>
    </select>

    <!-- 상품 등록 -->
    <insert id="insertProduct">
        insert into tbl_product (product_id, product_name, product_price, product_desc, product_url, brand)
        values (seq_product.nextval, #{product_name}, #{product_price}, #{product_desc}, #{product_url}, #{brand})
    </insert>

    <!-- 전체 상품 목록 조회 -->
    <select id="getProductList" resultType="domain.ProductVO">
        select * from tbl_product where product_id > 0 order by product_id asc
    </select>

    <!-- 단일 상품 조회 -->
    <select id="getProduct" resultType="domain.ProductVO">
        select * from tbl_product where product_id = #{product_id}
    </select>

    <!-- 상품 수정 -->
    <update id="updateProduct">
        update tbl_product set product_price = #{product_price}, prodcut_name = #{product_name}, product_desc = #{product_desc}, product_url = #{product_url}, brand = #{brand} where product_id = #{product_id}
    </update>

    <!-- 상품 삭제 -->
    <delete id="deleteProduct">
        delete from tbl_product where product_id = #{product_id}
    </delete>
</mapper>