<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ReplyMapper">

    <!-- 댓글 입력 Oracle -->
    <!--<insert id="insert">
        <![CDATA[
            insert into tbl_reply (rno, bno, reply, replyer)
            values (seq_reply.nextval, #{bno}, #{reply}, #{replyer})
        ]]>
    </insert>-->

    <!-- 댓글 입력 MariaDB -->
    <insert id="insert">
        <![CDATA[
        insert into tbl_reply (bno, reply, replyer)
        values (#{bno}, #{reply}, #{replyer})
        ]]>
    </insert>

    <!-- 댓글 조회 -->
    <select id="read" resultType="domain.ReplyVO">
        <![CDATA[
            select * from tbl_reply where rno = #{rno}
        ]]>
    </select>

    <!-- 댓글 리스트 조회 Oracle -->
    <!--<select id="getListWithPaging" resultType="domain.ReplyVO">
        <![CDATA[
            select rno, bno, reply, replyer, replyDate, updateDate
            from (
                select /*+INDEX(tbl_reply idx_reply) */
                    rownum rn, rno, bno, reply, replyer, replyDate, updateDate
                from tbl_reply
                where bno = #{bno}
                and rno > 0
                and rownum < #{cri.pageNum} * #{cri.amount}
            ) where rn > (#{cri.pageNum} - 1) * #{cri.amount}
            order by rno desc
        ]]>
    </select>-->

    <select id="getListWithPaging" resultType="domain.ReplyVO">
        <![CDATA[
        select
            *
        from
            tbl_reply
        where
            bno = #{bno} and rno > 0
        order by
            rno asc
        limit
            #{cri.pageStart}, #{cri.amount}
        ]]>
    </select>

    <!-- 게시글당 댓글 수 -->
    <select id="getCountByBno" resultType="int">
        select count(rno) from tbl_reply where bno = #{bno}
    </select>


    <!-- 댓글 삭제 -->
    <delete id="delete">
        <![CDATA[
            delete from tbl_reply where rno = #{rno}
        ]]>
    </delete>

    <!-- 게시글 번호의 해당하는 전체 댓글 삭제 -->
    <delete id="deleteByBno">
        <![CDATA[
            delete from tbl_reply where bno = #{bno}
        ]]>
    </delete>

    <!-- 댓글 수정 Oracle -->
    <!--<update id="update">
        <![CDATA[
            update tbl_reply set reply = #{reply}, updateDate = sysdate
            where rno = #{rno}
        ]]>
    </update>-->

    <!-- 댓글 수정 MariaDB -->
    <update id="update">
        <![CDATA[
        update tbl_reply set reply = #{reply}
        where rno = #{rno}
        ]]>
    </update>

</mapper>