<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ReviewAttachMapper">

    <!-- 리뷰 이미지 파일 작성 Oracle -->
    <!--<insert id="insert">
        insert into tbl_review_attach (uuid, uploadPath, fileName, fileType, review_no, attach_no)
        values (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{review_no}, seq_review_attach.nextval)
    </insert>-->

    <!-- 리뷰 이미지 파일 작성 MariaDB -->
    <insert id="insert">
        insert into tbl_review_attach (uuid, uploadPath, fileName, fileType, review_no, attach_no)
        values (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{review_no}, #{attach_no})

        <selectKey keyProperty="attach_no" order="BEFORE" resultType="int">
            SELECT LAST_INSERT_ID() + 1
        </selectKey>
    </insert>

    <select id="findByReviewNo" resultType="domain.ReviewAttachVO">
        select uuid, uploadPath, fileName, fileType, review_no, attach_no from tbl_review_attach where review_no = #{review_no} order by review_no
    </select>

    <delete id="delete">
        delete from tbl_review_attach where review_no = #{review_no}
    </delete>

    <delete id="deleteByFileName">
        delete from tbl_review_attach where fileName = #{fileName}
    </delete>

    <select id="getOldFiles" resultType="domain.ReviewAttachVO">
        select uuid, uploadPath, fileName, fileType, review_no, attach_no from tbl_review_attach where STR_TO_DATE(uploadPath, '%Y/%m/%d') = DATE_FORMAT(CURDATE() -1,'%Y/%m/%d')
    </select>
</mapper>