<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ReviewMapper">

    <!-- 리뷰 작성 -->
    <insert id="insert">
        <selectKey keyProperty="review_no" order="BEFORE" resultType="int">
            select seq_review.nextval from dual
        </selectKey>
        <![CDATA[
            insert into tbl_review(review_no, product_id, userid, review_title, review_content, grade)
            values (#{review_no}, #{product_id}, #{userid}, #{review_title}, #{review_content}, #{grade})
        ]]>
    </insert>

    <!-- 리뷰 조회 -->
    <select id="read" resultType="domain.ReviewVO">
        <![CDATA[
            select * from tbl_review where review_no = #{review_no}
        ]]>
    </select>

    <!-- product_id에 해당하는 리뷰 리스트 조회 -->
    <select id="getList" resultType="domain.ReviewVO">
        <![CDATA[
            select * from tbl_review where product_id = #{product_id}
        ]]>
    </select>

    <!-- product_id에 해당하는 리뷰 리스트 조회(페이징 처리) -->
    <select id="getListWithPaging" resultType="domain.ReviewVO">
        <![CDATA[
            select *
            from
            (
                select /*+ INDEX(tbl_review SYS_C0015606) */
                    rownum rn, review_no, product_id, review_title, review_content, grade, review_date, review_updateDate, userid
                    from tbl_review
                    where product_id = #{product_id}
                    and review_no > 0
                    and rownum <= #{cri.pageNum} * #{cri.amount}
            ) where rn > (#{cri.pageNum} -1) * #{cri.amount}
                order by review_no desc
        ]]>
    </select>

    <!-- 리뷰 수정 -->
    <update id="modify">
        <![CDATA[
            update tbl_review set review_title = #{review_title}, review_content = #{review_content}, grade = #{grade}, review_updateDate = sysdate where review_no = #{review_no}
        ]]>
    </update>

    <!-- 리뷰 삭제 -->
    <delete id="delete">
        <![CDATA[
            delete from tbl_review where review_no = #{review_no}
        ]]>
    </delete>

    <!-- product_id 당 리뷰 수 조회 -->
    <select id="countReview" resultType="int">
        select count(review_no) from tbl_review where product_id = #{product_id}
    </select>
</mapper>