<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

    <!-- 단일 회원 조회 -->
    <select id="get" resultType="domain.UserVO">
        <![CDATA[
            select * from tbl_user where user_no = #{user_no}
        ]]>
    </select>

    <!-- 전체 회원 조회 -->
    <select id="getList" resultType="domain.UserVO">
        <![CDATA[
            select * from tbl_user where user_no > 0
        ]]>
    </select>

    <insert id="register">
        <![CDATA[
            insert into tbl_user (user_no, user_id, user_pw, user_pw2, user_name, address, regDate)
            values (seq_member.nextval, #{user_id}, #{user_pw}, #{user_pw2}, #{user_name}, #{address}, sysdate)
        ]]>
    </insert>

    <update id="update">
        <![CDATA[
            update tbl_user set user_pw = #{user_pw}, user_pw2 = #{user_pw2}, address = #{address} where user_no = #{user_no}
        ]]>
    </update>

    <delete id="delete">
        <![CDATA[
            delete from tbl_user where user_no = #{user_no}
        ]]>
    </delete>
</mapper>